*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
body {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  font-weight: 500;
  background-color: #edeef0;
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgb(163 171 194);
}
.main__section {
  background: linear-gradient(180deg, rgb(163 171 194), #edeef0);
  padding-top: 10px;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}
.link__item {
  max-width: 200px;
  display: block;
  color: black;
  background-color: transparent;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 5px;
}
.title {
  font-size: 40px;
  line-height: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.main__title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 30px;
}
.social__iner {
  display: flex;
  justify-content: space-evenly;
}
.photo {
  display: block;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
}
.social__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  padding-left: 30px;
}
.img__social {
  display: block;
  width: 30px;
  object-fit: cover;
  transition: 0.5s;
}
.description__item {
  display: flex;
  max-width: 200px;
  height: 50px;
  align-items: center;
  padding-left: 50px;
}
.social__item {
  display: block;
  margin-bottom: 10px;
}
.social__item:hover .link__text {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.social__item:hover .img__social {
  transform: scale(1.2);
}
.social__link {
  display: flex;
  color: black;
  align-items: center;
}
.link__text {
  margin-left: 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-out;
}
.about__text {
  padding: 10px 20px;
  text-indent: 30px;
  max-width: 100%;
  margin-bottom: 20px;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card {
  padding: 10px 20px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  background-color: #fefefe;
  margin-bottom: 20px;
  max-width: 100%;
}
.content__list {
  padding-left: 30px;
}
.content__list li {
  list-style: decimal;
}
.way__list {
  padding-left: 30px;
}
.way__list img {
  max-width: 70px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.way__list img:last-child {
  margin-bottom: 0;
}
.way__list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.way__list:last-child {
  margin-bottom: 0;
}
.way__links {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.way__links a {
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  display: block;
  padding-bottom: 10px;
}
.way__links a:hover {
  border-bottom: 2px solid rgb(163 171 194);
}
.way__links a:last-child {
  padding-bottom: 0px;
}
table {
  padding-left: 30px;
  border-collapse: collapse;
}
table th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: rgb(163 171 194);
}
table tr {
  border-bottom: 2px solid rgb(163 171 194);
}
table td {
  padding: 5px 30px;
}
.form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__item {
  display: flex;
  margin-bottom: 20px;
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__item label {
  border-bottom: 2px solid rgb(163 171 194);
  flex: 0 0 200px;
  display: block;
}
.form__item input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(163 171 194);
  display: block;
  width: 300px;
}
.form__item textarea {
  border: none;
  border-bottom: 2px solid rgb(163 171 194);
  resize: unset;
  width: 300px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.btn__item input {
  font-size: 22px;
  padding: 0 10px;
  background-color: rgb(163 171 194);
  color: #fefefe;
  border: 2px solid #fefefe;
  border-radius: 10px;
  transition: 0.5s;
}
.btn__item input:hover {
  background-color: #fefefe;
  color: rgb(0, 0, 0);
}
.footer {
  height: 60px;
}
.footer__info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .social__iner {
    flex-direction: column;
    align-items: center;
  }
  .social__list {
    padding-left: 0;
  }
  .social__link {
    border-bottom: #fefefe;
  }
  .social__iner .photo {
    margin-bottom: 20px;
  }
  table td {
    padding: 5px 5px;
  }
  .form__item {
    flex-direction: column;
  }
  .form__item label {
    width: 100%;
    flex: auto;
  }
  .form__item input {
    width: 100%;
  }
  .form__item textarea {
    width: 100%;
  }
}

@media (max-width: 490px) {
  body {
    font-size: 20px;
  }
  .main__title {
    font-size: 35px;
  }
  .title {
    font-size: 30px;
  }
  table {
    width: 100%;
  }
  .work-experience table thead {
    display: none;
  }
  .work-experience table tr {
    border-bottom: none;
    display: block;
  }
  .work-experience table td {
    border-bottom: 2px solid rgb(163 171 194);
    text-align: right;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .work-experience table td::before {
    text-align: left;
    content: attr(data-label);
    font-weight: bold;
    margin-right: 20px;
  }
  table th {
    text-transform: capitalize;
  }
  .way__list li {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  form {
    width: 100%;
  }
  .form__item label {
    width: 220px;
    flex: auto;
  }
  .form__item input {
    width: 220px;
  }
  .form__item textarea {
    width: 220px;
  }
  .buttons {
    gap: 0;
  }
}
